[D-BUS Service]
Name=com.palm.imaccountvalidator
Exec=/usr/bin/imaccountvalidator -c {\"log\":{\"appender\":{\"type\":\"pmlog\"},\"levels\":{\"imaccountvalidator\":\"info\"}}} PalmPre Palm-Pre/1.5
