<div id="LoginForm">
	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper" style="height:62px">
			<div class="icon" id="title-icon" style="padding-top:5px;margin-left:5px;"></div>
			<div class="title" id="header" style="padding-top:4px;margin-top:4px;position:absolute;margin-left:5px;"></div>
			<!-- <div class="title sub" id="loc_subheader"
                style="font-size:14px;padding-top:16px;margin-top:16px;position:absolute;margin-left:5px;"></div>-->
		</div>
	</div>
	<div class='palm-group'>
		<div id="loc_usernameLabel" class="palm-group-title" x-mojo-loc=''></div>
		<div class="palm-list">
			<div class='palm-row single'>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="username" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='palm-group'>
		<div id="loc_passwordLabel" class="palm-group-title" x-mojo-loc=''></div>
		<div class="palm-list">
			<div class='palm-row single'>
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="password" x-mojo-element="PasswordField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="palm-group unlabeled">
		<div class="palm-list" id="OptionsList" x-mojo-element="List"></div>
	</div>
	<div x-mojo-element="Button" id="CreateAccountButton"></div>
</div>
