[D-BUS Service]
Name=org.webosinternals.purple.validator
Exec=/var/usr/sbin/org.webosinternals.purple.validator -c {\"log\":{\"appender\":{\"type\":\"syslog\"},\"levels\":{\"imaccountvalidator\":\"info\"}}} PalmPre Palm-Pre/1.5
