[D-BUS Service]
Name=org.webosinternals.purple.transport
Exec=/var/usr/sbin/org.webosinternals.purple.transport -c '{"log":{"appender":{"type":"file","path":"/media/internal/purple_transport.log"},"levels":{"purple":"info"}}}'
