[D-BUS Service]
Name=org.webosinternals.purple.validator
Exec=/var/usr/sbin/org.webosinternals.purple.validator -c '{"log":{"appender":{"type":"file","path":"/media/internal/purple_validator.log"},"levels":{"purple":"info"}}}'
